.heading-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meal-btn {
    max-width: 50%;
}
.dish-img{
    max-height: 400px;
    width: 100%;
}